main
  width: 100%
  
  .cards
    position: relative
    height: auto

    &__card
      position: absolute
      max-height: 250px

      p
        width: 80%

    &__card--blue, &__card--cyan
      top: calc(0% + 125px)
    &__card--blue
      left: calc(50% + 200px)
    &__card--cyan
      left: calc(50% - 520px)
    &__card--orange
      top: calc(0% + 240px)


